<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit entry</title>
</head>
<body>
{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block header %}
    <h2>edit entry:</h2>
{% endblock header %}

{% block content %}
    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post" class="form">

        {% csrf_token %}
        {% bootstrap_form form %}
        {{ form.media }}
        {% buttons %}
            <button type="submit" class="btn btn-success  mb-2">save</button>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                delete
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Delete entry</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Confirm deletion?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'learning_logs:delete_entry' entry.id %}'">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endbuttons %}


    </form>
{% endblock content %}
</body>
</html>