<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MD Recoder</title>
</head>
<body>
{% extends "learning_logs/base.html" %}
{% block header %}
    <div class='jumbotron'>
        <h1>Just log simply.</h1>
    </div>
{% endblock header %}
{% block content %}
    <h2>
       An online, clean, effective markdown log.
    </h2>
    <h2>
    <a href="{% url 'users:register' %}">Register an account</a> to make
    your own Markdown Log, and list the topics you're recording.
</h2>
{% endblock content %}
</body>
</html>