<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new note</title>
</head>
<body>
{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block header %}
    <h2>Add a new note:</h2>
{% endblock header %}
{% block content %}


    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {{ form.media }}
        {#        {{ form.as_p }}#}

        {% buttons %}
            <button type="submit" class="btn btn-success  mb-2">add note</button>
        {% endbuttons %}


    </form>
{% endblock content %}
</body>
</html>