<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>topics</title>
</head>
<body>
{% extends "learning_logs/base.html" %}
{% include 'learning_logs/back_to_top_func.html' %}
{% block header %}
    <h1>Topics
        <button type="button" class="btn btn-success glyphicon glyphicon-plus pull-right"
                    onclick="location.href='{% url 'learning_logs:new_topic'  %}'"></button>
{#        <small> <a class="pull-right" href="{% url 'learning_logs:new_topic' %}">add a new topic</a></small>#}

    </h1>
{% endblock header %}

{% block content %}
    <ul class="list-group">
        {% for topic in topics %}

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                <span class="badge alert-info">{{ topic.entry_num }}</span>
{#                <buton type="button" class="badge alert-danger pull-right" style="color:rgb(212,106,64)">#}
{#                    <span class="glyphicon glyphicon-remove"></span>#}
{#                </buton>#}

            </li>

        {% empty %}
            <div class="alert alert-info" role="alert">
                There are no topics yet
            </div>


        {% endfor %}
    </ul>



{% endblock content %}
</body>
</html>